.body,
.footer,
.bodySmall {
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: 0;
  color: #005174;
  text-decoration: none;
}
.body:hover,
.footer:hover,
.bodySmall:hover {
  /* color: rgb(173, 166, 42); */
  color: #c7511f;
  /* border-bottom: 1px solid #c7511f; */
  text-decoration: underline;
}

.footer {
  color: rgba(16, 16, 16, 0.75);
  font-size: 1rem;
}

.footer:hover {
  color: rgb(16, 16, 16);
}

.bodySmall {
  font-size: 0.8rem;
}
