.button {
  /* background: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  color: #1878b9; */
  font-size: 0.8rem;
  text-transform: none;
}
/* 
.button:hover {
  color: #b9a04d;
  transition: 0.3s ease color;
  color: #063c61;
} */
