.body,
.footer,
.bodySmall,
.headerLink {
  text-decoration: none;
}

.headerLink {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.body,
.bodySmall {
  color: #005174 !important;
}

.bodySmall {
  font-size: 0.8rem;
}

.footer {
  color: rgba(16, 16, 16, 0.75);
  font-size: 1rem;
}

.body:hover,
.footer:hover,
.bodySmall:hover,
.headerLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.05rem;
  text-decoration-color: #777;
}

.headerLink:hover {
  text-decoration-color: #777;
}

.footer:hover {
  color: rgb(16, 16, 16);
}
