.contactHeader {
    margin-top: 5rem;
    
}

.contactForm {
    display: flex;
    width: 30rem;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
}

.messageArea {
    height: 7rem;
    min-height: 7rem;
    min-width: 100%;
    max-width: 100%;
    padding: 13.3px;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: border 0.1s ease;
}

.messageArea:focus {
    border: 1px solid black;
    outline: none;
}

.messageArea::placeholder {
    font-family: "GroteskRegular", "sans-serif" ;
    color: black;
    opacity: 0.5;
    letter-spacing: 0;

}

.name:focus, .email:focus {
    border: 1px solid black !important;
    outline: none !important;
    box-shadow: none !important;
}