.contactHeader {
    margin-top: 5rem;
    
}

.contactForm {
    display: flex;
    width: 40rem;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
}

.messageArea {
    height: 7rem;
    min-height: 7rem;
    min-width: 100%;
    max-width: 100%;
    padding: 13.3px;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: border 0.1s ease;
    font-size: 1rem;
    letter-spacing: inherit;
}

.messageArea:focus {
    border: 1px solid black;
    outline: none;
}

.messageArea::placeholder {
    color: black;
    opacity: 0.3;
    letter-spacing: 0;
}

.nameEmail {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.inputLabel {
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
}

