.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}

.inputField {
  width: 65%;
}

.buttonSubscribe {
  border-radius: 2rem;
  width: 35%;
  height: 2.6rem;
}

.successMessage {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: success;
  animation-duration: 5s;
  color: green;
  font-size: 1rem;
  font-weight: 500;
}

@keyframes success {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errorMessage {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: rgb(177, 0, 0);
  height: 2rem;
}

.subscribeForm {
  width: 100%;
  display: flex;
  align-items: center;
}
