.image {
  height: 100%;
}

.cartItemCount {
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #b9a04d;
  color: white;
  position: absolute;
  left: 50%;
  bottom: -20%;
}

.accountButton {
  padding-block: 0;
  border-right: 1px solid #b9a04d;
  border-radius: 0;
  text-transform: none;
  letter-spacing: 0.05rem;
}

.accountButton:hover {
  /* text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.05rem;
  text-decoration-color: #777; */
}

.searchImage {
  height: 100%;
  width: 2.5rem;
  object-fit: cover;
}




