.formContainer {
  width: 90%;
  max-width: 35rem;
  background: white;
  padding: 3rem;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 5px;
  /* background-color: #f2f2f2; */
}

.form {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.actionButtons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errorMessage {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  min-height: 17px;
  color: rgb(177, 0, 0);
}


.inputLabel {
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
}