@font-face {
  font-family: myFirstFont;
  /* src: url("/public/Resources/fonts/Miller-DisplayRoman.otf"); */
  src: url("/public/Resources/fonts/SimonciniGaramondStd-Bold.otf");
}

@font-face {
  font-family: mySecondFont;
  src: url("/public/Resources/fonts/SimonciniGaramondStd-Bold.otf");
}

@font-face {
  font-family: Harmony;
  src: url("/public/Resources/fonts/HARMONY Personal use.otf");
}

.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  color: rgb(34, 34, 34);
}

.MuiButton-endIcon path {
  color: darkseagreen;
}

a {
  /* transition: 0.3s ease color; */
  min-width: unset !important;
}

a,
button {
  cursor: pointer;
  letter-spacing: 0.04rem;

  font-family: "Arsenal", sans-serif;
  /* font-family: "Gudea", sans-serif; */

  /* font-family: "Alegreya Sans SC", sans-serif; */

  /* font-family: "Belleza", sans-serif; */
  /* font-family: "Dosis", sans-serif; */
  /* font-family: "Federo", sans-serif; */
  /* font-family: "Fira Sans Extra Condensed", sans-serif; */
  /* font-family: "Georama", sans-serif; */
  /* font-family: "Mandali", sans-serif; */
  /* font-family: "Martel Sans", sans-serif; */
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Readex Pro", sans-serif; */
  /* font-family: "Ruda", sans-serif; */
  /* font-family: "Source Sans 3", sans-serif; */
  /* font-family: "Tenali Ramakrishna", sans-serif; */
  /* font-family: "Urbanist", sans-serif;  */
  /* font-family: "Playfair Display" !important; */
  /* font-family: "Bodoni Moda" !important; */
  /* font-family: "Cormorant Garamond" !important; */
  /* font-family: "Libre Caslon Display" !important; */
  /* font-family: "Nanum Myeongjo" !important; */
  /* font-family: "Taviraj" !important; */
  /* font-family: "Harmony" !important; */
}

button:hover {
  background-color: transparent;
}

a:hover {
  /* color: #063c61; */
  background-color: transparent !important;
  /* text-decoration: underline !important; */
  /* text-underline-offset: 0.2em; */
}

a:visited {
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

button.buttonNoHover:hover {
  background: unset;
  transition: 0.3s ease color;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  /* font-family: Montserrat, sans-serif; */
  /* font-family: "Playfair Display SC", serif; */
  /* font-family: "Bodoni Moda" !important; */
  /* font-family: "Cormorant Garamond" !important; */
  /* font-family: "Libre Caslon Display" !important; */
  /* font-family: "Nanum Myeongjo" !important; */
}
body {
  font-family: Arsenal, serif;

  letter-spacing: 0.06rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
  color: #333;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* More styles */
/* MUI step connector - disable margin between steps in checkout page */
.MuiStepConnector-line.MuiStepConnector-lineVertical {
  min-height: 0 !important;
}

/* Width of radio form in CheckoutMain.tsx */
.MuiFormControlLabel-label {
  width: 100%;
}

/* stepper content remove padding */
.MuiStepContent-root {
  padding-right: 0;
}

/* Swiper prev/next arrows design */
/* .swiper-button-next,
.swiper-button-prev {
  color: #ddd !important;
  padding: 0 0.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
} 
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.3);
}
.swiper-button-next:hover {
  transform: translateX(10%);
}
.swiper-button-prev:hover {
  transform: translateX(-10%);
}
*/

input:-webkit-autofill {
  -webkit-background-clip: text;
}
