.App {
  text-align: center;
}

a {
  color: #1878b9;
  text-decoration: none;
  transition: 0.3s ease color;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
}

a:hover {
  /* color: #063c61; */
  color: #b9a04d;
  background-color: transparent !important;
  /* text-decoration: underline !important; */
  /* text-underline-offset: 0.2em; */
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

button {
  letter-spacing: 0.06rem;
}

button.buttonNoHover:hover {
  background: unset;
  transition: 0.3s ease color;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}
body {
  font-family: Assistant, serif;
  letter-spacing: 0.06rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
  color: #333;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* More styles */
/* MUI step connector - disable margin between steps in checkout page */
.MuiStepConnector-line.MuiStepConnector-lineVertical {
  min-height: 0 !important;
}

/* Width of radio form in CheckoutMain.tsx */
.MuiFormControlLabel-label {
  width: 100%;
}

/* stepper content remove padding */
.MuiStepContent-root {
  padding-right: 0;
}

/* Swiper prev/next arrows design */
.swiper-button-next,
.swiper-button-prev {
  color: #ccc !important;
  padding: 0 0.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #eee !important;
  background: rgba(0, 0, 0, 0.3);
}
.swiper-button-next:hover {
  transform: translateX(10%);
}
.swiper-button-prev:hover {
  transform: translateX(-10%);
}
