.formContainer {
  width: 100%;
  background: white;
  margin-right: 1rem;
  border-radius: 5px;
}

.inputField {
  width: 100%;
  margin-right: 1.5rem;
}

ul {
  max-height: 25rem;
}

.heading {
  text-align: center;
}

.actionButtons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errorMessage {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  min-height: 17px;
  color: rgb(177, 0, 0);
}

.supplText,
.supplText span {
  color: #545454;
  font-size: 0.8rem;
  margin-right: 0;
}

.buttonNext {
  min-width: 10rem;
  margin-bottom: 1.5rem;
}
